@contentColor : #ffffff;

.Shadow{
    box-shadow: -1px 2px 10px 1px rgba(0,0,0,0.7);
}

.inShadow{
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
    -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
}
body {
    background-image: url(../img/footer_lodyas.png);
    padding-top: 61px;
    background-attachment: fixed;
}

#carousel{
    padding: 1px;
    img{
        height: 570px;
        width: auto;
        text-align: center;
        padding: 0px;
    }
}
.navbar {
    .Shadow;
    li {
        font-size: 90%;
    }
}

#ariane {
    margin-top: 10px;
}

#content {
    background-color: @contentColor;
    height: 100%;
    .Shadow;
    padding-top: 20px;
}
#resultNb {
    padding-left: 40px;
    padding-top: 10px;
}

#facetNav{
    background-color: @contentColor;
    //height: 600px;
    .inShadow;
    position: fixed;
    overflow: auto;

    #descriptors {
        span:hover {
            cursor: pointer;
        }
    }

    .desc {
        padding-left: 19px;
    }
}

.breadcrumb i {
  margin-left: 3px;
}