{% extends "::base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container-fluid">
        <img width="100%" src="{{ asset('img/bandeau_2014_12_ethnodoc.jpg') }}" alt="bandeau ethnodoc">
        <h1>Bienvenue sur le prototype du site EthnoDoc !</h1>
        <h2>EthnoDoc est une association reconnue d'intérêt général
            spécialisée dans la documentation et la valorisation du patrimoine
            culturel immatériel.</h2>
        <hr/>
        <div class="row">
            <h2> Nouveautés du réseau : </h2>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Projet Ethnodoc</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h2> Contenu </h2>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Slider</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
