{% extends "::base.html.twig" %}

{% block title %}Nos missions{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Nos mission</h1>
    <hr/>
    <div class="row">
        <div class="col-xs-6 col-md-4 col-lg-4">
            <h2>Valorisation de la mémoire orale et du patrimoine culturel immatériel</h2>
            <p>Pour valoriser les projets liés à la mémoire orale et au patrimoine culturel immatériel, EthnoDoc réalise des éditions imprimées (ouvrages aux éditions l'Harmattan, cahiers-répertoires de musique, monographies historiques illustrées...).
                Depuis 2010, EthnoDoc produit également des contenus diffusables sur des supports numériques, en collaboration en partenariat avec iRéalité et le laboratoire numérique de l'université de Nantes (Lina).</p>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-4">
            <h2>Accompagnement des territoires et des entreprises</h2>
            <p>
                EthnoDoc accompagne les territoires dans le traitement et la patrimonialisation des mémoires collectives et des cultures populaires : collecte, numérisation, indexation dans une base de données en ligne, transmission et valorisation de ces patrimoines.
            </p>
            <div class="thumbnail">
                <img src="http://www.ethnodoc.fr/image/photos/service_01.jpg" alt="inauguration QR codes">
                <div class="caption">
                    <h3>Inauguration des QR codes à Saint-Jean-de-Monts</h3>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-4">
            <h2>Mémoire orale des territoires et patrimoine culturel immatériel</h2>
            <p>
                EthnoDoc accompagne les territoires dans le traitement des mémoires collectives orales et du patrimoine culturel immatériel, en vue :
                - d'appréhender les enjeux liés à la place de la mémoire orale collective et des savoir-faire dans les démarches de développement d'un territoire.
                - de mettre en oeuvre les outils de valorisation de ce patrimoine culturel immatériel dans une perspective de mise en valeur du territoire.
            </p>
            <div class="thumbnail">
                <img src="http://www.ethnodoc.fr/image/photos/territoire_01.jpg" alt="Patrimoine 2012 journée">
                <div class="caption">
                    <h3>Journées du patrimoine 2012 à Trélazé</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
