{% extends "::base.html.twig" %}

{% block title %}Nos partenaires{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Nos partenaires</h1>
        <hr/>
        <div class="row">
            <div class=" col-xs-6 col-md-3 col-lg-3" >
                <img src="http://www.ethnodoc.fr/image/logo_partenaire/logo_arexcpo.jpg" alt="Arexcpo">
            </div>
            <div class=" col-xs-6 col-md-3 col-lg-3" >
                <img src="http://www.ethnodoc.fr/image/logo_partenaire/logo_cg_vendee.jpg" alt="Vendee conseil général">
            </div>
            <div class=" col-xs-6 col-md-3 col-lg-3" >
                <img src="http://www.ethnodoc.fr/image/logo_partenaire/logo_drac.jpg" alt="Drac">
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3" >
                <img src="http://www.ethnodoc.fr/image/logo_partenaire/logo_iut_la_roche.jpg" alt="La Roche sur Yon">
            </div>
        </div>
        <div class="row">
            <div class=" col-xs-6 col-md-3 col-lg-3" >
                <img src="http://www.ethnodoc.fr/image/logo_partenaire/logo_region_pdl.jpg" alt="PDL">
            </div>
            <div class=" col-xs-6 col-md-3 col-lg-3" >
                <img src="http://www.ethnodoc.fr/image/logo_partenaire/logo_cc_marais_monts.jpg" alt="CG vendee">
            </div>
            <div class=" col-xs-6 col-md-3 col-lg-3" >
                <img src="http://www.ethnodoc.fr/image/logo_partenaire/logo_univ_nantes.jpg" alt="Univ nantes">
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3" >
                <img src="http://www.ethnodoc.fr/image/logo_partenaire/logo_cnrs.jpg" alt="CNRS">
            </div>
        </div>
        <div class="row">
            <div class=" col-xs-6 col-md-3 col-lg-3" >
                <img src="http://www.ethnodoc.fr/image/logo_partenaire/logo_france_quebec.jpg" alt="France Québec">
            </div>
            <div class=" col-xs-6 col-md-3 col-lg-3" >
                <img src="http://www.ethnodoc.fr/image/logo_partenaire/logo_pole.jpg" alt="Pole">
            </div>
            <div class=" col-xs-6 col-md-3 col-lg-3" >
                <img src="http://www.ethnodoc.fr/image/logo_partenaire/logo_lina.jpg" alt="LINA">
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3" >
                <img src="http://www.ethnodoc.fr/image/logo_partenaire/logo_opci.jpg" alt="OPCI">
            </div>
        </div>
        <div class="row">
            <div class=" col-xs-6 col-md-3 col-lg-3" >
                <img src="http://www.ethnodoc.fr/image/logo_partenaire/logo_memoire_canton_poire.jpg" alt="Memoire canton poire">
            </div>
            <div class=" col-xs-6 col-md-3 col-lg-3" >
                <img src="http://www.ethnodoc.fr/image/logo_partenaire/logo_joyeux_vendeens.jpg" alt="joyeux vendeens">
            </div>
            <div class=" col-xs-6 col-md-3 col-lg-3" >
                <img src="http://www.ethnodoc.fr/image/logo_partenaire/logo_atto.jpg" alt="atto">
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3" >
                <img src="http://www.ethnodoc.fr/image/logo_partenaire/logo_sant_yann.jpg" alt="Sant yann">
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3" >
                <img src="http://www.ethnodoc.fr/image/logo_partenaire/logo_dactrad.jpg" alt="dactrad">
            </div>
        </div>
    </div>
{% endblock %}
