{% extends "::base.html.twig" %}

{% block title %}Nos projets{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Nos projets</h1>
        <hr/>
        <div class="row">
            <h2>Musées et expositions numériques</h2>
            <div class="col-xs-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <a href="http://musee-numerique.com/trelaze/" target="_blank">
                        <img src="http://www.ethnodoc.fr/image/photos/service_04.jpg" alt="musee trélazé">
                        Musée numérique de Trélazé
                    </a>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <a href="http://musee-numerique.com/blain/histoires.html" target="_blank">
                        <img src="http://www.ethnodoc.fr/image/photos/service_05.jpg" alt="musee blain">
                        Musée numérique de Blain
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <h2>Parcours numériques du patrimoine (Carré d'empreintes / QR Codes)</h2>
            <div class="col-xs-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <a href="http://irealite360.com/miecaline/" target="_blank">
                        <img src="http://www.ethnodoc.fr/image/photos/service_07.jpg" alt="immersion st jean de mont">
                        Qr Code La Mie Câline
                    </a>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <a href="http://irealite.com/concarneau/" target="_blank">
                        <img src="http://www.ethnodoc.fr/image/photos/service_07.jpg" alt="immersion st jean de mont">
                        Concarneau
                    </a>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <a href="http://irealite.com/69/estacade_jour.html" target="_blank">
                        <img src="http://www.ethnodoc.fr/image/photos/service_07.jpg" alt="immersion st jean de mont">
                        Saint-Jean-de-Monts
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <h2>Enquêtes ethnologiques et valorisation du patrimoine oral autour du lac de Grand-Lieu:</h2>
                    <ul class="list-unstyled">
                        <li>Mémoire du lac de Grand-Lieu (Maison du lac / CG44) </li>
                        <li>Les pêcheurs du lac de Grand-Lieu à Passay</li>
                        <li>Mémoire de Saint-Aignant-de-Grand-Lieu</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <h2>Audit identitaire et portrait</h2>
                    <h3>Saint-Jean-de-Monts</h3>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <h2>Folk Archives</h2>
                    <h3>Patrimonialisation des musiques amplifiées</h3>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <h2>Musique / Chanson / Danse : </h2>
                    <h3>Documentation d'éditions</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <ul class="list-unstyled">
                        <li>Littérature orale du front et de l'arrière</li>
                        <li>Contes et légendes</li>
                        <li>Agence d'animateurs du patrimoine oral</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <a href="http://irealite360.com/miecaline/">
                        Mémoire économique / histoire d'entreprises
                    </a>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <a href="http://www.raddo-ethnodoc.com" target="_blank">
                        Traitement des archives du patrimoine culturel immatériel / Accompagnement du réseau RADdO
                    </a>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <a href="http://www.saint-jean-de-monts.com/cuisine-montoise.html" target="_blank">
                        <img src="{{ asset('img/Cuisine_montoise-recto.jpg') }}" alt="cuisine montoise">
                        Cuisine traditionnelle / Cuisine montoise
                    </a>
                </div>
            </div>
        </div>


    </div>
{% endblock %}
